<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.6.5/dist/antd.min.css">
</head>
<!-- body start -->

<body>
    <div id="vue">
        <a-row>
            <a-col :span="24">
                <a-table :data-source="data" :pagination="false" size="small">
                    <a-table-column title="ASIN" data-index="ASIN">
                        <template slot-scope="text, record">
                            <span onclick="get_asin_keyword_main()">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="关键词" data-index="关键词">
                        <template slot-scope="text, record">
                            <span onclick="get_asin_keyword_main()">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="自然排名">
                        <template slot-scope="text, record">
                            <span :id="record.关键词+'_nt_rank'"></span>
                        </template>
                    </a-table-column>
                    <a-table-column title="广告排名">
                        <template slot-scope="text, record">
                            <span :id="record.关键词+'_ad_rank'"></span>
                        </template>
                    </a-table-column>
                    <a-table-column title="单独自然排名">
                        <template slot-scope="text, record">
                            <span :id="record.关键词+'_nt_independent_rank'"></span>
                        </template>
                    </a-table-column>
                    <a-table-column title="单独广告排名">
                        <template slot-scope="text, record">
                            <span :id="record.关键词+'_ad_independent_rank'"></span>
                        </template>
                    </a-table-column>
                    <a-table-column title="查询前3页排名">
                        <template slot-scope="text, record">
                            <a
                                :href="'https://'+domain+'/empty.gif?page=3&keyword='+record.关键词+'&asins='+record.ASIN">查询前3页排名</a>
                        </template>
                    </a-table-column>
                    <a-table-column title="查询前7页排名">
                        <template slot-scope="text, record">
                            <a
                                :href="'https://'+domain+'/empty.gif?page=7&keyword='+record.关键词+'&asins='+record.ASIN">查询前7页排名</a>
                        </template>
                    </a-table-column>
                    <a-table-column title="查询前15页排名">
                        <template slot-scope="text, record">
                            <a
                                :href="'https://'+domain+'/empty.gif?page=15&keyword='+record.关键词+'&asins='+record.ASIN">查询前15页排名</a>
                        </template>
                    </a-table-column>
                    <a-table-column title="查询前20页排名">
                        <template slot-scope="text, record">
                            <a
                                :href="'https://'+domain+'/empty.gif?page=20&keyword='+record.关键词+'&asins='+record.ASIN">查询前20页排名</a>
                        </template>
                    </a-table-column>
                </a-table>
            </a-col>
        </a-row>
        <div>
            <template v-for="item in data">
                <span :id=" item.关键词 + '_detail'">{{ item.关键词 }}</span>
                <a href="javascript:scroll(0,-9999);">Back to Top</a><br>
                <div v-if="mod == 'check_rank'">
                    <iframe :id=" item.关键词 + '_frame'" style="border:1px solid;" height="300" width="100%"
                        :src="'https://' + domain + '/s?k=' + item.关键词"></iframe>
                </div>
                <div v-else-if="mod == 'check_index'">
                    <iframe :id=" item.关键词 + '_frame'" style="border:1px solid;" height="300" width="100%"
                        :src="'https://' + domain + '/s?k=' + item.ASIN + ' ' + item.关键词"></iframe>
                </div>
            </template>
        </div>
    </div>
</body>
<!-- body end -->

<!-- import jquery JavaScript -->
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.6.5/dist/antd.min.js"></script>
<!-- import amazon_scripts_page JavaScript -->
<script src="../scripts/amazon_scripts_page.js"></script>

<script id="initialize">
    var vue_debug = true;
    if (vue_debug) {
        response = {};
    } else {
        response = {};
    }
    mod = get_query_variable('mod');
    target_asin = get_query_variable('asin');
    keywords = get_query_variable('keywords').split(',');
    data = [];
    for (let index = 0; index < keywords.length; index++) {
        data.push({
            "ASIN": target_asin,
            "关键词": keywords[index]
        })
    }
    var vue = new Vue({
        el: '#vue',
        components: {},
        props: [],
        data() {
            return {
                domain: document.domain,
                data: data,
                mod: mod
            }
        },
        computed: {},
        watch: {},
        created() {},
        mounted() {},
        methods: {}
    });
</script>

</html>