<tr>
    <td>${asin}</td>
    <td>
        <img height=50 width=50 src="${image}" title="${image}">
    </td>
    <td>${title}</td>
    <td>${price}</td>
    <td>${prime_code}</td>
    <td>${reviews}</td>
    <td>${rating}</td>
    <td id="${asin}_${rank_sign}_P">${current_page}</td>
    <td id="${asin}_${rank_sign}_R">${product_count}</td>
    <td id="${asin}_Total">${total_product_count}</td>
    <td>${spon_code}</td>
    <td id="${asin}_${rank_sign}_independent_R">${(rank_sign == 'NT' ? nt_product_count : ad_product_count)}</td>
    <td id="${asin}_independent_Total">${(rank_sign == 'NT' ? total_nt_product_count : total_ad_product_count)}</td>
    <td>${bsr_code}</td>
    <td>${choice_code}</td>
</tr>