<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>

<!-- body start -->
<body>
    <div id="vue">
        <a-row>
            <a-col :span="24">
                <a-table ref="table" rowKey="key" :loading="loading" :pagination="false" size="small"
                    :data-source="table_code_rink_list_data" bordered>
                    <a-table-column title="日期" data-index="date" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="站点" data-index="site_code" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="ASIN" data-index="asin_current" align='center'>
                        <template slot-scope="text, record">
                            <span onclick="get_amazon_keyword_ranking(false)">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="关键词" data-index="keyword" align='center'>
                        <template slot-scope="text, record">
                            <span onclick="get_amazon_keyword_ranking(true)">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="自然排名" data-index="asin_a_nt_total" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="广告排名" data-index="asin_a_ad_total" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="单独自然排名" data-index="asin_a_nt_independent_total" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="单独广告排名" data-index="asin_a_ad_independent_total" align='center'>
                        <template slot-scope="text, record">
                            <span>{{text}}</span>
                        </template>
                    </a-table-column>
                </a-table>
            </a-col>
        </a-row>

        <a-row>
            <a-col :span="24">
                <a-table ref="table_code_list" :loading="loading" :pagination="false" size="small"
                    :data-source="table_code_list_data" bordered>
                    <a-table-column title="ASIN" data-index="asin"  align='center'>
                        <template slot-scope="text, record">
                            <span onclick="get_amazon_keyword_ranking()">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="主图" data-index="image" align='center'>
                        <template slot-scope="text, record">
                            <img height=50 width=50 :src="text" :title="text">
                        </template>
                    </a-table-column>
                    <a-table-column title="标题" data-index="title" width="30%" align='center'>
                        <template slot-scope="text, record">
                            <div v-html='text'></div>
                        </template>
                    </a-table-column>
                    <a-table-column title="价格" data-index="price" align='center'>
                        <template slot-scope="text, record">
                            <div v-html='text'></div>
                        </template>
                    </a-table-column>
                    <a-table-column title="是否FBA" data-index="prime_code" align='center'>
                        <template slot-scope="text, record">
                            <font style="color: #009ED6;"><b>{{text}}</b></font>
                            <!-- <div v-html='text'></div> -->
                        </template>
                    </a-table-column>
                    <a-table-column title="评论数" data-index="reviews" align='center'>
                        <template slot-scope="text, record">
                            <div v-html='text'></div>
                        </template>
                    </a-table-column>
                    <a-table-column title="评分" data-index="rating" align='center'>
                        <template slot-scope="text, record">
                            <div v-html='text'></div>
                        </template>
                    </a-table-column>
                    <a-table-column title="页码" data-index="current_page" align='center'>
                        <template slot-scope="text, record">
                            <span :id=" record.asin + '_' + record.rank_sign +'_P' ">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="页面排名" data-index="product_count" align='center'>
                        <template slot-scope="text, record">
                            <span :id=" record.asin + '_' + record.rank_sign +'_R' ">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="总排名" data-index="total_product_count" align='center'>
                        <template slot-scope="text, record">
                            <span :id=" record.asin + '_Total'">{{text}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="是否广告" data-index="spon_code" align='center'>
                        <template slot-scope="text, record">
                            <font color=red><b>{{text}}</b></font>
                            <!-- <div v-html='text'></div> -->
                        </template>
                    </a-table-column>
                    <a-table-column title="单独页面排名" align='center'>
                        <template slot-scope="text, record">
                            <span v-if="record.rank_sign =='NT'"
                                :id="record.asin + '_' + record.rank_sign + '_independent_R'">{{record.nt_product_count}}</span>
                            <span v-if="record.rank_sign =='AD'"
                                :id="record.asin + '_' + record.rank_sign + '_independent_R'">{{record.ad_product_count}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="单独总排名" align='center'>
                        <template slot-scope="text, record">
                            <span v-if="record.rank_sign =='NT'"
                                :id="record.asin + '_independent_Total'">{{record.total_nt_product_count}}</span>
                            <span v-if="record.rank_sign =='AD'"
                                :id="record.asin + '_independent_Total'">{{record.total_ad_product_count}}</span>
                        </template>
                    </a-table-column>
                    <a-table-column title="Bestseller" data-index="bsr_code" align='center'>
                        <template slot-scope="text, record">
                            <font style="background: #DAA520; color:white;">{{text}}</font>
                            <!-- <div v-html='text'></div> -->
                        </template>
                    </a-table-column>
                    <a-table-column title="Amazon's Choice" data-index="choice_code" align='center'>
                        <template slot-scope="text, record">
                            <font style="background: #135753; color:white;">{{text}}</font>
                            <!-- <div v-html='text'></div> -->
                        </template>
                    </a-table-column>
                </a-table>
            </a-col>
        </a-row>

        <div id="iframe_list">
            <template v-for="index in Number(page)">
                <span>第{{index}}页</span>
                <a href="javascript:scroll(0,-9999);">Back to Top</a><br>
                <iframe style="border:1px solid;" height="300" width="100%"
                    :src="'https://' + domain + '/s?k=' + keyword + '&page=' + index"></iframe>
            </template>
        </div>
    </div>
</body>
<!-- body end -->



<!-- import JavaScript -->
<script src="../scripts/amazon_navigation.js"></script>

<script id="initialize">
    var vue_debug = true;
    if (vue_debug) {
        response = {};
    } else {
        response = `${response}`;
    }
    mod = get_query_variable('mod');
    page = get_query_variable('page');
    asins = get_query_variable('asins').split(',');
    keyword = get_query_variable('keyword');
    data = [];
    for (let index = 0; index < asins.length; index++) {
        data.push({
            "key": index,
            "asin_current": asins[index],
            "keyword": keyword
        })
    }
    var vue = new Vue({
        el: '#vue',
        components: {},
        props: [],
        data() {
            return {
                table_code_list_data: [],
                table_code_rink_list_data: data,
                domain: document.domain,
                keyword: keyword,
                loading: false,
                data: data,
                page: page,
                mod: mod
            }
        },
        computed: {},
        watch: {},
        created() {},
        mounted() {},
        methods: {}
    });
</script>

</html>