.a-main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;

}

.el-main div h1 {
    text-align: center;
}

.el-button {
    width: 100%;
}

.ant-card-small>.ant-card-body {
    padding: 0px
}

p {
    margin-bottom: 0
}